@keyframes animate{
  0%{background-color: orange;
  }

20%{background-color: rgb(102, 0, 102);
}

40%{background-color: rgb(128, 0, 0);

}
60%{background-color: rgb(204, 255, 204);

}
80%{background-color: rgb(255, 51, 204);

}  
100%{background-color: rgb(255, 51, 204);

 } 
}







#rotate{
	transform: rotate(35deg);
	background-color: green;
}

#skew{
	transform: skew(22deg);
	background-color: black;

}

#all{
	transform: rotate(35deg) skew(22deg);
	background-color: rgb(255, 0, 102);
}

#customelement{
	transform: matrix(3, -1, 0.7, 0, 1, -0.6);
	background-color: rgb(0, 153, 51);
}

#input1:focus{
	width: 5000px;
	height: 400px;
	background-color: salmon;
}

#animate{
	animation: animate 4s infinite;
}

#pseudo:hover{
	width: 150%;
	font-size: 0.000000000002%;
}
